{% extends 'layout.html' %}
{% block title %}Home{% endblock %}


{% block content %}



      <section class="slider_section">
         <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" width="100%" src="../static/images/banner1.jpeg" alt="First slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Welcome back <span>User</span>!</h1>
                        <a  href="points.html">Check your points</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="second-slide" src="../static/images/banner2.jpg" alt="Second slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Attractive Prizes</h1>
                        <a  href="rewards.html">Claim NOW!</a>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="third-slide" width="100%" src="../static/images/banner3.jpg" alt="Third slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>ENDING CLIMATE CHANGE</h1>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="bottom_arrow_scroll" href="#about"><img src="../static/icon/errow.png" /></a>
         </div>
      </section>

      <div class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Current Carbon Emission</h2> 
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  insert carbon calculated?

                  <h1>Points: <span>100</span></h1>
               </div>
            </div>
         </div>
      </div>
      <!-- our blog -->
      <div id="blog" class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Statistics</h2>
                     <span>Here we see the impacts of climate change and why we need to start doing something.</span> 
                  </div>
               </div>
            </div>
            <div class="row">
               <div style="margin-bottom: 50px;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <iframe src="https://ourworldindata.org/explorers/climate-change?facet=none&Metric=Temperature+anomaly&Long-run+series%3F=false&country=OWID_WRL~ATA~Gulkana+Glacier~Lemon+Creek+Glacier~North+America~South+Cascade+Glacie
                  r~Wolverine+Glacier&hideControls=true" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <iframe src="https://ourworldindata.org/grapher/annual-co2-emissions-per-country?country=~OWID_WRL" 
                  loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <iframe src="https://ourworldindata.org/grapher/total-ghg-emissions?tab=chart&country=~OWID_WRL" 
                  loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
               </div>
            </div>
         </div>
      </div>
      <!-- end our blog -->
    {% endblock %}
